MODEL_PATH=ml/saved_model/model.joblib
MODEL_INFO_PATH=ml/saved_model/model_info.json

API_TITLE=House Price Prediction API
API_VERSION=1.0.0
API_KEY=your-api-key-here  #sample: my-house-price-ml-api  or  live_7f8e9a2b3c4d5e6f7g8h9i0j

LOG_LEVEL=INFO
MAX_BATCH_SIZE=100

CORS_ORIGINS=http://localhost:3000